<div class="my-3">
    <div class="d-flex justify-content-between ">
      <div style="font-size:30px; font-weight: bold" >Question</div>
      <div><button class="btn btn-info" (click)="goToAddQuestion()" >Add question</button></div>

    </div>
    <div *ngFor="let a of answers" class="mb-3">
      <label style="font-size:20px; font-weight: bold">{{ a.question }}</label>
      <div *ngIf="a.answerFormat == 'paragraph'">
        <textarea rows="4" class="form-control" (change)="changeAnswerTx(a, $event)">{{ a.answer }}</textarea>
      </div>
      <div *ngIf="a.answerFormat === 'checkbox'">
        <div *ngFor="let option of a.answerOptions">
          <div class="form-check">
            <input type="checkbox" [checked]="option.checked" (change)="changeAnswerCh(a, option, $event)" class="form-check-input">
            <label class="form-check-label">{{ option.answer }}</label>
          </div>
        </div>
      </div>
    </div>
  <div class="flex-center">
    <button class="btn btn-success" (click)="saveAnswer()">Submit</button>
  </div>
  </div>
